@font-face {
  font-family: 'Philosopher', sans-serif;
  src: url("assets/fonts/Philosopher/Philosopher-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url("assets/fonts/Montserrat/static/Montserrat-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url("assets/fonts/Montserrat/static/Montserrat-ExtraBold.ttf");
  font-weight: 800;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px 0px;
  background-color: #fef9f1;
}

h1 {
  margin: 0;
  padding-left: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 46px;
  font-weight: 600;
  letter-spacing: 5px;
  color: #fef9f1;
  /* color: #574940; */
}

h2 {
  margin: 0;
  padding-bottom: 5px;
  font-family: 'Philosopher', sans-serif;
  border-bottom: 2px solid #cec3b2;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header {
  display: flex;
  height: 180px;
  align-items: center;
  background-color: #598381;
}

.header__img {
  display: block;
  max-width: 300px;
  height: auto;
}

.header__lastname {
  font-weight: 400;
}

.main {
  display: flex;
  flex-direction: row;
}

.aside {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 30px 0px 30px 30px;
  background-color: #b3a396;
}

.article {
  width: 70%;
  padding: 30px 30px 30px 50px;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: #08605f;
  text-decoration: none;
}

ul {
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}

.article__pre {
  margin: 16px 0px 0px 0px;
  background-color: #fff;
}






.footer {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #08605f;
}

.footer__icon {
  width: 60px;
  height: auto;
  fill: #fff
}

.footer__text {
  font-family: 'Montserrat', sans-serif;
}

.footer__item {
  color: #fff;
}

@media(max-width: 1200px) {
  .container {
    width: 900px;
  }
}
